@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply dark:bg-gray-900 bg-darkblue;
  }
}

.cl-component.cl-user-button {
  width: 4rem !important;
  height: 4rem !important;
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.hidescrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cl-component {
  z-index: 100;
}

.emoji-mart-title-label {
  display: none;
}

a {
  text-decoration: underline;
}
